body {
    background-color: #f0f4f8;
    color: #dcc1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.neon-title {
    font-size: 3rem;
    color: #0d47a1;
}

.glowing-btn {
    background-color: #0d47a1;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.glowing-btn:hover {
    background-color: #0a3b85;
    transform: scale(1.1);
}

h3{
    color: #0d47a1;
}

.movie-item {
    background-color: #f0f4f8;
    border-bottom: 1px solid #0d47a1;
    padding: 10px;
    font-size: 1.2rem;
}

#suggestions a:hover {
    background-color: #0d47a1 !important;
    color: #fff !important;
}
